name: Build CV PDF

on:
    push:
        paths:
            - "cv.tex"
            - "sections/**.tex"

jobs:
    build:
        runs-on: ubuntu-latest
        steps:
            - name: Checkout repo
              uses: actions/checkout@v4

            - name: Install LaTeX
              run: sudo apt-get install -y texlive-full

            - name: Compile CV
              run: pdflatex cv.tex

            - name: Upload PDF
              uses: actions/upload-artifact@v4
              with:
                  name: CV
                  path: cv.pdf
